---
layout: custom.njk
title: "Activity"
style: '/css/pages/activity.css'
---
<!DOCTYPE html>
<html lang="en">
	<head>
		{% include "partials/_head.njk" %}
	</head>
	<body>
		<header>
			<a href="/" class="home">
				<img src="https://large-assets.notnotjake.com/images/site/orange-circle.svg"/>
			</a>
			<h1>Activity</h1>
			<a href="https://twitter.com/_notnotjake" class="social">
				{% include "svg/icon-twitter.html" %}
			</a>
		</header>
		<div class="year">
			<div class="month">
				<aside>
					<h1>February</h1>
					<div class="card"></div>
				</aside>
				<div class="log">
					<h1>A summary of the month</h1>
					
					<div class="week">
						<div class="title">
							<h2>19<em>th</em>&mdash;25<em>th</em> <span>Week 8</span></h2>
							<div class="graph">
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
							</div>
						</div>
						<p class="summary">Made a lot of improvements to the site, made some memories with friends, and doc said my shoulder is 100% healed</p>
						
						<div class="days">
							<div class="day">Added new activity page to site <span> Mar 25</span></div>
							<div class="day">Added new activity page to site <span> Mar 24</span></div>
							<div class="day">Added new activity page to site <span> Mar 23</span></div>
							<div class="day">Added new activity page to site <span> Mar 22</span></div>
							<div class="day">Added new activity page to site <span> Mar 21</span></div>
							<div class="day">Added new activity page to site <span> Mar 20</span></div>
							<div class="day">Added new activity page to site <span> Mar 19</span></div>
						</div>
					</div>
					
					<div class="week">
						<div class="title">
							<h2>12<em>th</em>&mdash;18<em>th</em> <span>Week 7</span></h2>
							<div class="graph">
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
							</div>
						</div>
						<p class="summary">Made a lot of improvements to the site, made some memories with friends, and doc said my shoulder is 100% healed</p>
						
						<div class="days">
							<div class="day">Added new activity page to site <span> Mar 25</span></div>
							<div class="day">Added new activity page to site <span> Mar 24</span></div>
							<div class="day">Added new activity page to site <span> Mar 23</span></div>
							<div class="day">Added new activity page to site <span> Mar 22</span></div>
							<div class="day">Added new activity page to site <span> Mar 21</span></div>
							<div class="day">Added new activity page to site <span> Mar 20</span></div>
							<div class="day">Added new activity page to site <span> Mar 19</span></div>
						</div>
					</div>
					
					<div class="week">
						<div class="title">
							<h2>19<em>th</em>&mdash;25<em>th</em> <span>Week 8</span></h2>
							<div class="graph">
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
								<div class="day"></div>
							</div>
						</div>
						<p class="summary">Made a lot of improvements to the site, made some memories with friends, and doc said my shoulder is 100% healed</p>
						
						<div class="days">
							<div class="day">Added new activity page to site <span> Mar 25</span></div>
							<div class="day">Added new activity page to site <span> Mar 24</span></div>
							<div class="day">Added new activity page to site <span> Mar 23</span></div>
							<div class="day">Added new activity page to site <span> Mar 22</span></div>
							<div class="day">Added new activity page to site <span> Mar 21</span></div>
							<div class="day">Added new activity page to site <span> Mar 20</span></div>
							<div class="day">Added new activity page to site <span> Mar 19</span></div>
						</div>
					</div>
				</div>
			</div>
			<div class="month">
				<aside>
					<h1>January</h1>
					<div class="card"></div>
				</aside>
				<div class="log">
					<h1>A summary of the month</h1>
					<div class="day">
						<h2>Fri 26th</h2>
						<p>Approved this thing and that</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>