:root {
	--background-color-main: hsla(180, 6%, 94%, 1);
	--background-color-splash: hsl(249, 100%, 20%);
	
	--text-color-100: hsl(0, 0%, 11%);
	--text-color-800: hsl(0, 0%, 27%);
	--text-color-600: hsla(0, 0%, 46%, 1);
	--text-color-400: hsla(0, 0%, 0%, 0.27);
}
@media (prefers-color-scheme: dark) {
	:root {
		// --background-color-main: hsla(207, 15%, 12%, 1);
		
		// --text-color-100: hsla(0, 0%, 94%, 1);
		// --text-color-800: hsla(0, 0%, 80%, 1);
		// --text-color-600: hsla(0, 0%, 59%, 1);
		// --text-color-400: hsla(0, 0%, 100%, 0.5);
	}
}

html { scroll-behavior: initial; }
html:focus-within {scroll-behavior: unset;}

body {
	color: var(--text-color-800);
	background: var(--background-color-splash);
	font-family: "Maru Var", sans-serif;
	width: 100%;
}

body > * {
	background: var(--background-color-main);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Over-scrolls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div.overscroll {
	height: 300px;
	width: 100%;
	position: fixed;
	z-index: -2;
}
div.overscroll.top {
	top: 0;
	transform: translateY(-299px);
	background: linear-gradient(to bottom, 
		hsl(211, 86%, 66%), 
		var(--background-color-splash)
	);
}
div.overscroll.bottom {
	bottom: 0;
	transform: translateY(299px);
	background: hsl(186, 19%, 81%);
}
div.overscroll.mobile {
	height: 200px;
	z-index: -3;
	transform: scale(-1, -1);
}
/* Over-scrolls [End] */


.gradient-transition {
	height: 2.5rem;
	width: 100%;
	background: linear-gradient(to bottom,
		hsl(307, 16%, 94%),
		var(--background-color-main)
	);
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Article
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
article {	
	font-family: 'Inter Var';
	width: 100%;
	padding: 3rem 0 0rem;
	z-index: 2;
	> * {
		max-width: 45rem;
		margin: auto;
		padding: 0 1rem;
	}	
	h1, h2, h3 {
		font-family: 'Unbounded Var';
	}
	div.heading {
		padding: 0.2rem 1rem 0.4rem;
		background: var(--background-color-main);
		border-bottom: 0.1rem solid hsla(0, 0%, 0%, 0.12);
		z-index: 3;
	}
	h2 {
		font-size: 1.8rem;
		background: linear-gradient(to bottom,
			hsl(0, 0%, 56%),
			hsl(218, 76%, 4%)
		);
		background-clip: text;
		-webkit-background-clip: text;
		text-fill-color: transparent;
		-webkit-text-fill-color: transparent;
	}
	p {
		line-height: 1.6;
		font-size: 1.2rem;
		font-weight: 400;
		padding: 0.4em 1rem 0.55em;
		strong {
			color: hsla(0, 0%, 37%, 1);
		}
		span {
			font-family: 'Unbounded Var';
			font-size: 0.93em;
			font-variation-settings: 'wght' 400, 'wdth' 70;
		}
	}
	p#emphasis {
		margin-top: 2rem;
		font-size: 1.4rem;
		span {
			font-style: italic;
		}
	}
	a, a:hover, a:visited {
		color: hsla(209, 81%, 34%, 1);
	}
}
/* Article [End] */


#curved-gradient {
	width: 100%;
	z-index: 0;
	
	margin-top: -10rem;
	
	display: flex;
	align-items: center;
	
	div.gradient {
		width: 100vw;
		height: 80vw;
		max-height: 680px;
		background: radial-gradient(100% 95% at 50% 0%, 
			hsla(300, 100%, 98%, 0) 0%, 
			hsla(307, 100%, 97%, 0.08) 53%, 
			hsla(310, 100%, 77%, 1) 71%, 
			hsla(273, 61%, 45%, 1) 87%, 
			hsla(255, 100%, 39%, 1) 100%
		);
	}
	div.blur {
		width: 100%;
		height: 100%;
		z-index: 2;
		position: absolute;
		top: 0;
		left: 0;
		backdrop-filter: blur(1.4rem);
		-webkit-backdrop-filter: blur(1.4rem);
	}
}
// @media (max-width: 40.625rem) {
// 	#curved-gradient {
// 		overflow: hidden;
// 		display: flex;
// 		
// 		div {
// 			width: 200%;
// 		}
// 	}
// }


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Scrolling Section
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#explainer-header {
	position: -webkit-sticky;
	position: sticky;
	top: 0rem;
	z-index: 3;
	
	div.stack {
		> * {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}
	div.text-occlusion.stack {
		height: 6rem;
		width: 100%;
		opacity: 0;	
		div.text-cutoff {
			background: linear-gradient(to bottom,
				hsla(272, 65%, 4%, 1) 0%,
				hsla(272, 65%, 4%, 0.85) 25%,
				hsla(272, 62%, 4%, 0)
			);
		}
		div.text-blur {
			-webkit-backdrop-filter: blur(0.2rem);
			backdrop-filter: blur(0.2rem);
			mask: linear-gradient(to bottom,
				hsla(0, 0%, 100%, 1),
				hsla(0, 0%, 0%, 0)
			);
		}
	}
	div.gradient.stack {
		position: absolute;
		top: 0;
		height: 12rem;
		width: 100%;
		z-index: 5;
		> div {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
		}
		div.gradient {
			background: linear-gradient(to bottom,
				hsla(255, 100%, 39%, 1),
				hsla(255, 0%, 0%, 0)
			);
		}
		div.glow {
			position: relative;
			height: 20rem;
			top: 3rem;
			width: 100%;
			margin: auto;
			z-index: 1;
			background: radial-gradient(50% 100% at 50% 7%,
				hsla(256, 70%, 20%, 0.795),
				hsla(256, 0%, 0%, 0)
			);
		}
	}

	#scrolling-headline {
		// padding: 1rem 0;
		width: 100%;
		height: 7.2rem;
		overflow: hidden;
		background: hsla(255, 100%, 39%, 1);
		
		h1 {
			position: absolute;
			bottom: 0.2rem;
			left: 0;
			// margin: 0 4rem;
			z-index: 10;
			
			font-family: 'Unbounded Var';
			font-size: 5rem;
			font-weight: 650;
			white-space: nowrap;
			background: linear-gradient(to bottom,
				hsla(244, 71%, 41%, 1) 0%,
				hsla(245, 78%, 27%, 1) 25%,
				hsla(240, 64%, 24%, 1) 55%,
				hsla(227, 80%, 14%, 1) 72%,
				hsla(227, 89%, 10%, 1) 80%
			);
			background-clip: text;
			-webkit-background-clip: text;
			text-fill-color: transparent;
			-webkit-text-fill-color: transparent;
			
			span {
				background: linear-gradient(to bottom,
					hsla(230, 61%, 51%, 1) 0%,
					hsla(255, 78%, 46%, 1) 25%,
					hsla(240, 57%, 45%, 1) 55%,
					hsla(227, 78%, 28%, 1) 72%,
					hsla(235, 76%, 27%, 1) 80%
				);
				background-clip: text;
				-webkit-background-clip: text;
				text-fill-color: transparent;
				-webkit-text-fill-color: transparent;
			}
			#h1-creating {
				background: linear-gradient(to bottom, 
					hsla(205, 72%, 87%, 1) 0%, 
					hsla(196, 70%, 86%, 1) 15%, 
					hsla(242, 66%, 90%, 1) 55%, 
					hsla(226, 71%, 83%, 1) 70%, 
					hsla(224, 75%, 95%, 1) 80%
				);
				background-clip: text;
				-webkit-background-clip: text;
				text-fill-color: transparent;
				-webkit-text-fill-color: transparent;
			}
		}
	}
}





// div.divider {
	// position: relative;
	// margin-top: 3rem;
	// height: 0.12rem;
	// width: calc(100% - 1.5rem);
	// max-width: 48rem;
	// margin: auto;
	// background: linear-gradient(to right,
	// 	hsla(216, 24%, 47%, 0) 0%,
	// 	hsla(216, 100%, 94%, 0.65) 40%,
	// 	hsla(216, 100%, 94%, 0.65) 60%,
	// 	hsla(216, 24%, 47%, 0) 100%,
	// );
// }




#scroll-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	// justify-content: space-between;
	gap: 1.2rem;
	background: hsla(255, 100%, 39%, 1);
	
	padding-top: 6rem;
	margin-top: -6rem;
	
	z-index: 1;
	
	div.paragraph {
		width: 100%;
		max-width: 42rem;
		flex-basis: 40%;
		flex-shrink: 0;
		flex-grow: 1;
		font-family: 'Inter Var';
		
		margin-top: 15rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;		
		p {
			width: 100%;
			color: hsla(229, 56%, 90%, 1);
			font-size: 1.5rem;
			font-weight: 500;
			opacity: 0.3;
			margin: 10rem 0;
			
			border: 1px solid red;
		}
		a, a:hover, a:visited {
			color: hsla(215, 44%, 78%, 1);
		}
	}
}

/* Scrolling Section [End] */

#transition-out {
	width: 100%;
	background: hsl(186, 19%, 81%);
	overflow-x: hidden;
	svg {
		width: calc(100% + 2px);
		max-width: 200%;
		margin-left: -1px;
		height: auto;
	}
	.behind {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 40%;
		background: hsl(272, 65%, 4%);
	}
}
#conclusion {
	min-height: 80vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background: hsl(186, 19%, 81%);
	p {
		font-size: 1.8rem;
		font-weight: 500;
		letter-spacing: -0.017em;
		line-height: 1.5;
		
		span {
			color: hsl(216, 100%, 48%);
			font-weight: 700;
			font-style: italic;
		}
	}
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Splash
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
#splash {
	width: 100%;
	min-height: 100svh;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	overflow: hidden;

	background: hsl(222, 67%, 34%);
	color: hsl(177, 100%, 52%);
	font-family: 'Unbounded Var', 'Sono Var', sans-serif;
	text-align: center;
	
	div.dark {
		position: absolute;
		z-index: 1;
		top: 0;
		height: 100%;
		width: 100%;
		background-image: linear-gradient(to bottom, 
			hsla(249, 100%, 20%, 1) 0%, 
			hsla(268, 100%, 14%, 1) 10%, 
			hsla(256, 96%, 9%, 1) 24%, 
			hsla(252, 80%, 2%, 0.9) 36%, 
			hsla(235, 96%, 10%, 1) 62%,
			hsla(226, 80%, 8%, 0) 100%
		);
	}
	div.gradient-bottom {
		position: absolute;
		z-index: 2;
		bottom: 0;
		height: 27%;
		width: 100%;
		background: linear-gradient(to bottom,
			hsla(256, 100%, 20%, 0) 0%,
			hsla(288, 64%, 55%, 0.7) 46%,
			hsla(298, 55%, 80%, 1) 72%,
			hsla(0, 0%, 95%, 1) 100%
		);
		
		background-image: linear-gradient(to bottom, 
			hsla(262, 100%, 23%, 0) 0%, 
			hsla(288, 71%, 54%, 0.7) 47%, 
			hsl(284, 49%, 62%) 60%,
			hsl(298, 55%, 80%) 72%, 
			hsl(0, 0%, 95%) 100%);
	}
	div.blur {
		position: absolute;
		z-index: 3;
		width: 100%;
		height: 100%;
		background: hsla(0, 0%, 0%, 0);
		backdrop-filter: blur(0.4rem);
		-webkit-backdrop-filter: blur(0.4rem);
	}
	div.perspective {
		position: absolute;
		z-index: 4;
		width: 100%;
		bottom: 0;
		padding: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		img, svg {
			width: 100%;
			height: auto;
			min-width: 70rem;
		}
	}
	div.starfield {
		position: absolute;
		z-index: 4;
		width: 100%;
		height: 100%;
		span {
			position: absolute;
			height: 3px;
			width: 3px;
			border-radius: 50%;
			background: hsl(211, 81%, 79%);
			box-shadow: 0 0 0.9rem 0.2rem hsla(0, 0%, 100%, 0.4);
			
			animation-name: stars_twinkle;
			animation-timing-function: linear;
			animation-iteration-count: infinite;
		}
		span.bright {
			background: hsl(57, 100%, 92%);
		}
		span.star1 {
			top: 24%;
			left: 5%;
			animation-duration: 6s;
			animation-delay: 0s;
		}
		span.star2 {
			top: 30%;
			left: 10%;
			animation-duration: 5.3s;
			animation-delay: 1.3s;
		}
		span.star3 {
			top: 50%;
			left: 7%;
			animation-duration: 7s;
			animation-delay: 0.4s;
		}
		span.star4 {
			top: 50%;
			left: 30%;
			animation-duration: 6.3s;
			animation-delay: 0.2s;
		}
		span.star5 {
			top: 71%;
			left: 38%;
			animation-duration: 5.8s;
			animation-delay: 0s;
		}
		span.star6 {
			top: 69%;
			left: 58%;
			animation-duration: 6.5s;
			animation-delay: 1.2s;
		}
		span.star7 {
			top: 47%;
			left: 63%;
			animation-duration: 5.5s;
			animation-delay: 0.5s;
		}
		span.star8 {
			top: 25%;
			left: 53%;
			animation-duration: 7.1s;
			animation-delay: 0.8s;
		}
		span.star9 {
			top: 29%;
			left: 75%;
			animation-duration: 6.2s;
			animation-delay: 0.1s;
		}
		span.star10 {
			top: 18%;
			left: 82%;
			opacity: 0.6;
			animation-duration: 5.9s;
			animation-delay: 0.2s;
		}
		span.star11 {
			top: 28%;
			left: 87%;
			animation-duration: 6.3s;
			animation-delay: 0s;
		}
		span.star12 {
			top: 38%;
			left: 91%;
			animation-duration: 5.6s;
			animation-delay: 0s;
		}
		span.star13 {
			top: 40%;
			left: 93%;
			animation-duration: 7s;
			animation-delay: 0s;
		}
		span.star14 {
			top: 59%;
			left: 96%;
			animation-duration: 6.8s;
			animation-delay: 0s;
		}
		span.star15 {
			top: 73%;
			left: 85%;
			animation-duration: 6.2s;
			animation-delay: 0.4s;
		}
	}
	
	> * {
		z-index: 5;
	}
	a.site-title {
		height: 2rem;
		margin-top: 1.7rem;
		img {
			height: 100%;
		}
	}
	div.copy {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 4rem 2rem;
		gap: 0.5rem;
		
		h1 {
			font-size: clamp(12vw, 12vw, 9.2em);
			line-height: 0.9;
			white-space: nowrap;
			
			padding: 0.2em 0;
			font-weight: 400; /* Animation Start Value */
			transform: scale(94%); /* Animation Start Value */
			color: hsl(205, 67%, 31%); /* Animation Start Value */
		}
		h1::selection {
			background: hsla(262, 100%, 57%, 0.3);
		}
		h2 {
			letter-spacing: -0.06em;
			font-size: clamp(5vw, 5vw, 5.8em);
			padding: 0 3rem;
			color: hsl(26, 75%, 91%);
			
			filter: opacity(10%); /* Animation Start Value */
			transform: scaleX(108%); /* Animation Start Value */
			
			animation: splash_h2 0.6s 1.8s forwards;
			
			a, a:visited, a:active {
				color: #1289e4;
			}
		}
		div.normal {
			h1:nth-of-type(1) {
				animation: splash_h1 0.9s 0.4s forwards;
			}
			h1:nth-of-type(2) {
				animation: splash_h1 0.9s 1.1s forwards;
			}
		}
		div.shadow {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 0;
			h1 {
				font-weight: 800;
				transform: scale(1);
				opacity: 0;
				
				background: linear-gradient(to bottom,
					hsla(190, 98%, 48%, 1) 10%,
					hsla(213, 76%, 52%, 1) 60%,
					hsla(315, 100%, 83%, 0.9) 96%,
				);
				background-clip: text;
				-webkit-background-clip: text;
				text-fill-color: transparent;
				-webkit-text-fill-color: transparent;
			}
			h1:nth-of-type(1) {
				animation: splash_h1_shadow 0.5s 1.0s forwards;
			}
			h1:nth-of-type(2) {
				animation: splash_h1_shadow 0.5s 1.7s forwards;
			}
		}
	}
	div.scroll-indicator {
		flex-grow: 0;
		height: 2rem;
		opacity: 0;
		animation: splash_scroll-indicator 800ms 3.1s forwards;
	}
}
@keyframes splash_scroll-indicator {
	0% { opacity: 0; }
	100% { opacity: 1; }
}
@keyframes splash_h1 {
	0% {
		transform: scale(94%);
		font-weight: 400;
		color: hsl(205, 67%, 31%)
	}
	14% {
		color: hsl(280, 65%, 57%);
	}
	30% {
		color: hsl(52, 100%, 50%);
	}
	55% {
		color: hsl(156, 100%, 50%);
	}
	80% { 
		transform: scale(100%);
		color: hsla(213, 76%, 52%, 1);
	}
	100% { 
		font-weight: 800; 
		transform: scale(100%); 
		color: hsla(213, 76%, 52%, 1);
	}
}
@keyframes splash_h1_shadow {
	from { opacity: 0; }
	to { opacity: 1; }
}
@keyframes splash_h2 {
	from { filter: opacity(10%); transform: scaleX(108%); }
	to { filter: opacity(100%); transform: scaleX(100%); }
}
@keyframes stars_twinkle {
	0% {
		opacity: 0;
		transform: translateY(0);
	}
	5% {
		opacity: 1;
	}
	95% {
		opacity: 1;
	}
	100% {
		opacity: 0;
		transform: translateY(-1.6rem);
	}
}

@media (max-width: 68.75rem) {
	#splash div.copy h1 {
		font-size: 13.5vw;
	}
	#splash div.copy h2 {
		font-size: 6vw;
	}
}
@media (max-width: 40.625rem) {
	#splash div.copy h1 {
		font-size: 13vw;
	}
	#splash div.copy h2 {
		font-size: 8.8vw;
		padding: 0;
	}
	#splash div.copy {
		padding: 0px;
	}
}
/* Splash [END] */