html {
	backgrond: #eef0f0;
}
body {
	color: #454545;
	font-family: "Maru Var", sans-serif;
	z-index: 2;
}

main {
	background: #eef0f0;
	z-index: 2;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nav Element
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
nav {
	height: 50px;
	align-items: center;
	display: flex;
	gap: 10px;
	margin-bottom: 5rem;
}
nav h2 {
	flex-grow: 1;
	text-align: center;
	font-family: 'Pressura Var', 'Inter Var', sans-serif;
	font-variation-settings: "wght" 500, "wdth" 110, "ital" 0.3;
	font-size: 1.2rem;
	font-weight: 1.4rem;
}
nav h2 span {
	font-weight: 400;
	font-size: 1.28rem;
	font-variation-settings: "wght" 400, "wdth" 110, "ital" 0.5;
	opacity: 0.8;
}
nav a {
	color: #454545;
	text-decoration: none;
}
nav a:hover {
	color: #316fa1;
}
nav img {
	height: 21px;
	width: 21px;
	// padding: 0 10px;
}
/* Nav [End] */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Header Element
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
	margin-bottom: 2.8rem;
	font-family: 'Pressura Var', 'Inter Var', sans-serif;
}
header h1 {
	font-size: 2.2rem;
	margin-bottom: 0.04em;
}
header h2 {
	font-size: 1.8rem;
	font-weight: 500;
	font-variation-settings: "wght" 500, "wdth" 110, "ital" 0.5;
	opacity: 0.8;
}
header p {
	font-size: 1.3rem;
	margin-top: 0.7em;
}
/* Header [End] */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Article
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
article {
	padding-bottom: clamp(100px, 25vh, 250px);
	font-family: 'Avenir', 'Inter Var', sans-serif;
	min-height: calc(100vh - 300px);
}
article p {
	font-size: 1.1rem;
	line-height: 1.65;
	padding-bottom: 1.64em;
}
article h1, h2, h3 {
	font-family: 'Pressura Var', 'Avenir', 'Inter Var', sans-serif;
	font-variation-settings: "wght" 600, "wdth" 120, "ital" 0.5;
}
article h1 {
	font-size: 2.05rem;
	font-variation-settings: "wght" 700, "wdth" 120;
	padding-bottom: 0.12em;
	color: #000;
}
article h2 {
	font-size: 1.75rem;
	font-variation-settings: "wght" 650, "wdth" 110, "ital" 0.3;
	padding-bottom: 0.12em;
}
article h3 {
	font-size: 1.25rem;
	font-variation-settings: "wght" 500, "wdth" 110, "ital" 0.5;
	padding-bottom: 0.08em;
}

article ol {
	list-style-position: outside;
	font-size: 1.05rem;
	padding-left: 2em;
	padding-bottom: 1.64em;
}
article ol > li {
	padding-bottom: 0.3em;
}
article ol > li::marker {
	font-weight: bold;
	color: rgba(0, 0, 0, 0.5);
}
/* Article */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div.footer::after {
	content: "";
	position: absolute;
	height: 50px;
	width: 100%;
	left: 0;
	bottom: 0;
	background-image: linear-gradient(to top,
		rgba(147, 184, 246, 1) 0%, 
		// #b4caee 25%,
		rgba(237, 240, 240, 0) 60%);
}
/* Footer [End] */