:root {
	--window-color: hsla(0, 0%, 93%, 1);
	--background-main: hsla(199, 19%, 88%, 1);
	--accent-line-top: hsla(199, 10%, 73%, 1);
	
	--text-main: #454545;
	
	--headers-shadow: 0 1px 0 hsla(0, 0%, 100%, 1);
}
@media (prefers-color-scheme: dark ) {
	:root {
		--window-color: hsla(0, 0%, 15%, 1);
		--background-main: hsla(216, 8%, 18%, 1);
		--accent-line-top: hsla(216, 7%, 25%, 1);
		
		--text-main: #e8e8e8;
		
		--headers-shadow: 0 1px 0 hsla(0, 0%, 100%, 1);
	}
}

html {
	// background: var(--window-color);
}
body {
	color: var(--text-main);
	font-family: "Maru Var", sans-serif;
	z-index: 2;
}

main {
	background: var(--background-main);
	z-index: 2;
}


div.line-top {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: var(--accent-line-top);
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Nav Element
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
nav {
	height: 50px;
	align-items: center;
	display: flex;
	gap: 10px;
	margin-bottom: 5rem;
	
	h2 {
		flex-grow: 1;
		text-align: center;
		font-family: 'Pressura Var', 'Inter Var', sans-serif;
		font-variation-settings: "wght" 500, "wdth" 110, "ital" 0.3;
		font-size: 1.2rem;
		font-weight: 1.4rem;
		
		span {
			font-weight: 400;
			font-size: 1.28rem;
			font-variation-settings: "wght" 400, "wdth" 110, "ital" 0.5;
			opacity: 0.8;
		}
	}
	a {
		color: #454545;
		text-decoration: none;
	}
	a:hover {
		color: #316fa1;
	}
	img {
		height: 21px;
		width: 21px;
		// padding: 0 10px;
	}
}
/* Nav [End] */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Header Element
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
header {
	margin-bottom: 2.8rem;
	font-family: 'Pressura Var', 'Inter Var', sans-serif;
	
	h1 {
		font-size: 1.8rem;
		text-align: center;
		margin-bottom: 0.04em;
		font-variation-settings: "wght" 600, "wdth" 110, "ital" 0.5;
		letter-spacing: -0.015em;
		text-shadow: var(--headers-shadow);
		span.subtitle {
			font-size: 1.8rem;
			font-weight: 400;
			font-variation-settings: "wght" 400, "wdth" 100, "ital" 0.5;
			letter-spacing: -0.01em;
			opacity: 0.8;
		}
	}
	p {
		text-align: center;
		font-size: 1.3rem;
		margin-top: 0.7em;
		span {
			font-size: 1rem;
		}
	}
}
/* Header [End] */


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Article
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
article {
	padding-top: 10rem;
	padding-bottom: clamp(100px, 25vh, 250px);
	font-family: 'Avenir', 'Inter Var', sans-serif;
	min-height: calc(100vh - 300px);
	
	p {
		font-size: 1.1rem;
		line-height: 1.65;
		padding-bottom: 1.64em;
	}
	h1, h2, h3 {
		font-family: 'Pressura Var', 'Avenir', 'Inter Var', sans-serif;
		font-variation-settings: "wght" 600, "wdth" 120, "ital" 0.5;
	}
	h1 {
		font-size: 2.05rem;
		font-variation-settings: "wght" 700, "wdth" 120;
		padding-bottom: 0.12em;
		color: #000;
	}
	h2 {
		font-size: 1.75rem;
		font-variation-settings: "wght" 650, "wdth" 110, "ital" 0.3;
		padding-bottom: 0.12em;
	}
	h3 {
		font-size: 1.25rem;
		font-variation-settings: "wght" 500, "wdth" 110, "ital" 0.5;
		padding-bottom: 0.08em;
	}
	ol {
		list-style-position: outside;
		font-size: 1.05rem;
		padding-left: 2em;
		padding-bottom: 1.64em;
	}
	ol > li {
		padding-bottom: 0.3em;
	}
	ol > li::marker {
		font-weight: bold;
		color: rgba(0, 0, 0, 0.5);
	}
}
/* Article */

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Footer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
div.footer::after {
	content: "";
	position: absolute;
	height: 50px;
	width: 100%;
	left: 0;
	bottom: 0;
	background-image: linear-gradient(to top,
		rgba(147, 184, 246, 1) 0%, 
		// #b4caee 25%,
		rgba(237, 240, 240, 0) 60%);
}
/* Footer [End] */



@media (prefers-color-scheme: dark ) {
	div.line-top {
		background: hsla(216, 7%, 25%, 1);
	}
}