@use './abstracts' as a;
@use './utilities';

@import url('https://rsms.me/inter/inter.css');

@charset "utf-8";
/* COLORS
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
:root {
	// --page-bg: #ecf2f1;
	--page-bg: var(--cream);
	// --masthead-main: var(--cream-10);
	// --masthead-offset: var(--cream-20);
	--masthead-main: #c1d8d8;
	--masthead-offset: #d7e1e000;
	--site-orange: #F8622C;
	
	--primary-text: black;
	--secondary-text: var(--primary-text);
	
	--dashed-line: rgba(60, 94, 122, 0.15);
		
	--animation-time: 200ms;
	--animation-delay: 10ms;
}

@media (prefers-color-scheme: dark) {
	:root {
		--page-bg: #21201d;
		--masthead-main: #332f2d;
		
		--primary-text: white;
		--dashed-line: rgba(152, 191, 225, 0.2);
	}
}

/* BASE
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
html {
	background-color: #EDF0F0;
}
body {
	min-height: 100vh;
	color: var(--primary-text);
	font-family: 'Courier', 'Courier Prime', serif;
	// background-color: #54258F;
	// background-color: #54258F;
}

details summary {
	list-style: none;
}
details summary::-webkit-details-marker {
	display: none;
}

/* UTILITY CLASSES
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.hide {
	display: none !important;
}
.debug-borders {
	border: 1px solid red;
}
.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.baseline-text {
	min-height: 12px;
	/* background-color: red; */
}
.baseline-text::after {
	content: "";
	height: 100%;
	display: inline-block;
}
.width-wide {
	width: clamp(300px, 90%, 1150px);
	margin-left: auto;
	margin-right: auto;
}
.width-normal {
	width: clamp(300px, 85%, 850px);
	margin-left: auto;
	margin-right: auto;
}
.width-narrow {
	width: clamp(300px, 80%, 42rem);
	margin-left: auto;
	margin-right: auto;
}
@media (max-width: 600px) {
	.width-wide, .width-normal, .width-narrow {
		width: 100%;
		padding-left: 13px;
		padding-right: 13px;
		margin-left: 0;
		margin-right: 0;
		box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	}
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
Overscrolls
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.overscroll {
	width: 100%;
	position: fixed;
	height: 300px;
	z-index: -2;
}
.overscroll.top {
	top: 0;
	transform: translateY(-299px);
	background: var(--overscroll-top);
}
.overscroll.bottom {
	bottom: 0;
	transform: translateY(299px);
	background: var(--overscroll-bottom);
}
.overscroll.mobile {
	height: 200px;
	z-index: -3;
	transform: translateY(0) scale(-1, -1);
}
/* Overscrolls [End] */