<style>
	/* SONO - VARIABLE */
	@font-face {
		font-family: 'Sono Var';
		src: url('https://large-assets.notnotjake.com/fonts/sono/sono-var.woff2') format("woff2-variations");
		font-weight: 200 800;
	}
	/* UNBOUNDED - VARIABLE */
	@font-face {
		font-family: 'Unbounded Var';
		src: url('https://large-assets.notnotjake.com/fonts/unbounded-var.woff2') format('woff2-variations');
		font-style: normal;
	}
	/* GT MARU - VARIABLE */
	@font-face {
		font-family: 'Maru Var';
		src: url('https://large-assets.notnotjake.com/fonts/maru/maru-var.woff2') format('woff2-variations');
		font-style: normal;
	}
	/* GT PRESSURA - VARIABLE */
	@font-face {
		font-family: 'Pressura Var';
		src: url('https://large-assets.notnotjake.com/fonts/pressura/pressura-var.woff2') format('woff2-variations');
		font-style: normal;
	}
	
	@font-face {
		font-family: 'Lato';
		src: url('https://large-assets.notnotjake.com/fonts/lato/regular.woff2') format('woff2');
		font-style: normal;
	}
	
	@font-face {
		font-family: 'PT Mono';
		src: url('https://large-assets.notnotjake.com/fonts/pt-mono/regular.ttf') format('woff2');
		font-style: normal;
	}
</style>


<link rel="preload" as="font" href="https://large-assets.notnotjake.com/fonts/unbounded-var.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="https://large-assets.notnotjake.com/fonts/sono/sono-var.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="https://large-assets.notnotjake.com/fonts/maru/maru-var.woff2" type="font/woff2" crossorigin>