<style>
	/* SONO - VARIABLE */
	@font-face {
		font-family: 'Sono Var';
		src: url('https://assets.notnotjake.com/fonts/sono/Sono-Variable.woff2') format("woff2-variations");
		font-weight: 200 800;
	}
	/* GT MARU - VARIABLE */
	@font-face {
		font-family: 'Maru Var';
		src: url('https://assets.notnotjake.com/fonts/maru/GT-Maru-Trial-VF.woff2') format('woff2-variations');
		font-style: normal;
	}
	/* GT PRESSURA - VARIABLE */
	@font-face {
		font-family: 'Pressura Var';
		src: url('https://assets.notnotjake.com/fonts/pressura/GT-Pressura-Trial-VF.woff2') format('woff2-variations');
		font-style: normal;
	}
</style>

<link rel="preload" as="font" href="https://assets.notnotjake.com/fonts/sono/Sono-Variable.woff2" type="font/woff2" crossorigin>
<link rel="preload" as="font" href="https://assets.notnotjake.com/fonts/maru/GT-Maru-Trial-VF.woff2" type="font/woff2" crossorigin>