<footer class="width-narrow">
	<p class="site-info"><span class="thanks">THANKS FOR VISITING!</span><span>&#169; 2022 Jake Gooch</span> • <a href="https://www.11ty.dev">Built with <img src="https://assets.notnotjake.com/images/avatar-11ty.png"> 11ty</a> • <a href="https://www.netlify.com">Hosted on <img src="https://assets.notnotjake.com/images/avatar-netlify.png"> Netlify</a> • <a href="https://github.com/notnotjake/notnotjake-11ty">Code on <img src="https://assets.notnotjake.com/images/avatar-github.png"> GitHub</a>
	</p>
	<p class="last-updated">Last Updated {% prettyDate page.date %}</p>
</footer>