<footer class="width-narrow">
	<div class="links">
		<h3>THANKS FOR VISITING</h3>
		<p>Want More?</p>
	</div>
	
	<p class="site-info"><span>&#169; 2022 Jake Gooch</span> • Built with <img src="https://assets.notnotjake.com/images/avatar-11ty.png"> 11ty • Hosted on <img src="https://assets.notnotjake.com/images/avatar-netlify.png"> Netlify • Code on <img src="https://assets.notnotjake.com/images/avatar-github.png"> GitHub
	</p>
		
	<p class="last-updated">Last Updated 1/9/23</p>
</footer>