<header class="masthead">
	<div class="background border-box unselectable">
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
		<div></div>
	</div>
	<div class="content">
		<div class="width-narrow">
			<div class="site">
				<div class="site-title">
					<a href="https://www.notnotjake.com">
						JAKE
					</a>
				</div>
				
				<div class="site-author baseline-text">By Jake Gooch</div>
			</div>
			<div class="spotlight">
				<a href="/">
					<h2>Music Workflows</h2>
					<p>Some tips for getting the most out of Apple Music</p>
					<time datetime="2022-6-5" pubdate="pubdate">Coming Soon</time>
				</a>
			</div>
		</div>
	</div>
</header>